name: Check typos

on:
  push:
    branches:
      - main
    paths:
      - "**.md"
      - ".github/workflows/**"
  pull_request:
    types: [assigned, opened, synchronize, reopened]
    paths:
      - "**.md"
      - ".github/workflows/**"

jobs:
  typos:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code.
        uses: actions/checkout@v4
      - name: typos
        uses: crate-ci/typos@v1
